<div class="container-fluid container-fluid-custom py-md-5 mb-5">

    <h1>About Developer</h1>

    <div class="jumbotron">
        <h1 class="display-4">Hi! User, My name is Milind Krishna</h1>
        <p class="lead">
            As a enthusiastic learner, aims to provide service to society with skills acquired. Working as a problem solver also known in proffesional world as Engineer. Always try to debug the errors and gain knowledge since mistakes can make the wisdom strong.
        </p>
        <hr class="my-4">
        <h1>About App</h1>
        <p>This Application is build under the tech stack of Nodejs, Express, EJS Template Engine with MongoDB Database.
            <br>
            <b>Application mainly uses goggleoauth20 to login and mainly focus on CRUD feature.</b>  
            <br>
            Please use this application to note down the daily utilities to-do.
            <br>
            <br>
            <i class="bi bi-envelope-open-heart-fill"></i> <b>milindkrishna1998@gmail.com</b> 
            <br>
            <i class="bi bi-telephone-outbound-fill"></i> <b>+91 6290638615</b>
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Happy Notes</a>
        </p>
      </div>

</div>
